# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: test

# Drop permissions to minimum for security
permissions:
  contents: read

on:
  push:
  pull_request:
  schedule:
    - cron: '0 16 * * 5'  # Every Friday 4pm

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -e ".[dev]"
    - name: Lint with pyflakes
      run: |
        pyflakes import_deps
    - name: Test with pytest
      run: |
        pytest
